.cproject
.obj/*
.project
comparison_of_diameters/*
intervals/*
with_without_rounding/*
BurgersFPTest
DiffInclTest
DPDEContainerTest
OperationsCountBurgers
OperationsCountKS
OperationsCountSH
PolyBdTests
SHTest
FFTTests
ExactFFTTest
2DIntegratorTest
IndicesTests
KSPOTest
PolyBd2DTests
enclosure.txt
fft.txt
general.txt
general2.txt
gnuplot.txt
N.txt
tail.txt
test.txt
test1_2.txt
test1.txt
test2_2.txt
test2.txt
*~